<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/receipts.css"%}">
    <title>Expenses</title>
  </head>
  <body>
    <nav>
      <ul>
        <li class="nav-link">
          <a href="{% url 'admin:index' %}">Admin</a>
        </li>
        <li class="nav-link">
          <a href="{% url 'receipts_list' %}">Receipts</a>
        </li>
        <li class="nav-link">
          <a href="{% url 'receipt_create' %}">Create Receipt</a>
        </li>
        <li class="nav-link">
          <a href="{% url 'categories_list' %}">Categories</a>
        </li>
        <li class="nav-link">
          <a href="{% url 'category_create' %}">Create a Category</a>
        </li>
        <li class="nav-link">
          <a href="{% url 'accounts_list' %}">Accounts</a>
        </li>
        <li class="nav-link">
          <a href="{% url 'account_create' %}">Create an Account</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-link">
          <a href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-link">
          <a href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% block main_content %} {% endblock main_content %}
  </body>
</html>
